<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap" rel="stylesheet">
</head>
<body>
    <section class="section about">
        <nav class="navgation-bar">
            <a href="/home">About</a>
        </nav>
        <div class="main">
            <img src="images\elon1.jpg" alt="Elon">
            <div class="about-text">
                <h1>About</h1>
                <h2>Sub Header</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus saepe consequatur quaerat obcaecati natus quas nobis temporibus nostrum ipsa reiciendis est voluptatibus rerum ut maiores, ad, beatae ab excepturi explicabo odit, perspiciatis debitis aut cumque! Error itaque maiores tenetur eum cum asperiores quod natus ducimus, nostrum, quia optio dignissimos saepe!</p>
            </div> 
        </div>
    </section>
</body>
</html>